<button aria-label="open menu" class="menu-button home hamburger" tabindex="0">
    <svg viewBox="0 0 100 80" width="40" height="40" class="hamburger">
        <rect class="rect-one" width="85" height="12" rx="8" fill="#fff"></rect>
        <rect class="rect-two" y="30" width="85" height="12" rx="8" fill="#fff"></rect>
        <rect class="rect-three" y="60" width="85" height="12" rx="8" fill="#fff"></rect>
    </svg>
</button>

<nav class="nav-menu">
    <ul class="menu">
        <li>
            <a href="/" aria-label="Go to home" <%- current=='/' ?' class=\"active\"':'' %>>
                <img src="/assets/home.svg" alt="">
            </a>
            <p>Home</p>
        </li>
        <li>
            <a href="/testing" aria-label="Go to testing" <%- current=='/testing' ?' class=\"active\"':'' %>>
                <img src="/assets/testing.svg" alt="">
            </a>
            <p>Testing</p>
        </li>
        <li>
            <a href="/lessons" aria-label="Go to lessons" <%- current=='/lessons' ?' class=\"active\"':'' %>>
                <img src="/assets/book-outline.svg" alt="">
            </a>
            <p>Lessons</p>
        </li>
        <li>
            <a href="/statistics" aria-label="Go to statistics" <%- current=='/statistics' ?' class=\"active\"':'' %>>
                <img src="/assets/bar-chart-outline.svg" alt="">
            </a>
            <p>Statistics</p>
        </li>
        <li>
            <a href="/profile" aria-label="Go to profile" <%- current=='/profile' ?' class=\"active\"':'' %>>
                <img src="/assets/person-outline.svg" alt="">
            </a>
            <p>Profile</p>
        </li>
    </ul>
</nav>