<nav class="menu-open">
    <ul class="menu">
        <li>
            <a href="/" aria-label="Go to home" <%- current=='/' ?' class=\"active\"':'' %>>
                <img src="/assets/home.svg" alt="">
            </a>
            <p>Home</p>
        </li>
        <li>
            <a href="/testing" aria-label="Go to testing" <%- current=='/testing' ?' class=\"active\"':'' %>>
                <img src="/assets/testing.svg" alt="">
            </a>
            <p>Testing</p>
        </li>
        <li>
            <a href="/lessons" aria-label="Go to lessons" <%- current=='/lessons' ?' class=\"active\"':'' %>>
                <img src="/assets/book-outline.svg" alt="">
            </a>
            <p>Lessons</p>
        </li>
        <li>
            <a href="/statistics" aria-label="Go to statistics" <%- current=='/statistics' ?' class=\"active\"':'' %>>
                <img src="/assets/bar-chart-outline.svg" alt="">
            </a>
            <p>Statistics</p>
        </li>
        <li>
            <a href="/profile" aria-label="Go to profile" <%- current=='/profile' ?' class=\"active\"':'' %>>
                <img src="/assets/person-outline.svg" alt="">
            </a>
            <p>Profile</p>
        </li>
    </ul>

    <button title="open menu" class="menu-button">
        <span></span>
        <span></span>
        <span></span>
    </button>

</nav>