<% playlists.filter(playlist=> !favorites[playlist.id]).forEach(playlist => { %>
    <!--  Filter playlists to get only suggested playlists -->
    <li class="playlist">
        <figure>
            <picture>
                <% if (playlist.image !=null) { %>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=avif"
                        type="image/avif">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=webp"
                        type="image/webp">
                    <img src=" https://fdnd-agency.directus.app/assets/<%=playlist.image %>" height="150"
                        alt="playlist">
                    <% } else { %>
                        <img src="images/sixoclock.png" height="150" alt="playlist">
                        <% } %>
            </picture>
            <figcaption>
                <%= playlist.title %>
            </figcaption>
        </figure>
        <div class="playlist-footer">
            <div class="audio-container">
                <a href="/lessons/playlist/<%- playlist.slug %>" aria-label="play">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="12" fill="#F3A22A" />
                        <rect width="16.8" height="16.8" transform="translate(3.59961 3.6001)" fill="#F3A22A" />
                        <path
                            d="M17.0874 13.0614C17.7817 12.5242 17.7817 11.476 17.0874 10.9387C14.9891 9.31514 12.6461 8.03543 10.146 7.14749L9.68929 6.98528C8.8155 6.67494 7.89254 7.26613 7.77425 8.16812C7.44374 10.6883 7.44374 13.3119 7.77425 15.832C7.89254 16.734 8.8155 17.3252 9.68929 17.0148L10.146 16.8526C12.6461 15.9647 14.9891 14.685 17.0874 13.0614Z"
                            fill="white" />
                    </svg>
                </a>
                <p>31 min. 55sec</p>
            </div>
            <form class="like-form" method="post" action="/lessons">
                <input type="hidden" name="id" value="<%= playlist.id %>">
                <input type="hidden" name="image" value="<%= playlist.image %>">
                <input type="hidden" name="title" value="<%= playlist.title %>">
                <input type="hidden" name="slug" value="<%= playlist.slug %>">
                <button class="like-button" title="like playlist" type="submit">
                    <!-- <svg  width="30" height="30" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
                    <svg class="heart-svg" width="32" height="31" viewBox="0 0 32 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.0793 26.414L14.1204 24.6307C7.16288 18.3217 2.56958 14.1472 2.56958 9.054C2.56958 4.8795 5.83893 1.62366 9.99993 1.62366C12.3506 1.62366 14.6067 2.71794 16.0793 4.43368C17.5519 2.71794 19.808 1.62366 22.1587 1.62366C26.3197 1.62366 29.589 4.8795 29.589 9.054C29.589 14.1472 24.9957 18.3217 18.0382 24.6307L16.0793 26.414Z" />
                        <g class="particles">
                            <path d="M2.11938 15.5837L1.05135 15.9397" stroke-linecap="round" />
                            <path d="M29.1389 17.8353L28.132 17.3318" stroke-linecap="round" />
                            <path d="M3.12646 3.70325L2.11951 3.19977" stroke-linecap="round" />
                            <path d="M22.384 23.4644L23.0458 24.3752" stroke-linecap="round" />
                            <path d="M7.74829 24.3752L8.41003 23.4644" stroke-linecap="round" />
                            <path d="M15.6292 30.2192V29.0934" stroke-linecap="round" />
                            <path d="M30.2017 4.39172L31.0513 3.65313" stroke-linecap="round" />
                            <path d="M16.6243 2.53784V1.41203" stroke-linecap="round" />
                        </g>
                    </svg>
                </button>
            </form>
        </div>
    </li>
    <% }) %>